<p id="notice"><%= notice %></p>

<h1>Mts</h1>

<table>
  <thead>
    <tr>
      <th>Var1</th>
      <th>Var2</th>
      <th>Cinta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mts.each do |mt| %>
      <tr>
        <td><%= mt.var1 %></td>
        <td><%= mt.var2 %></td>
        <td><%= mt.cinta %></td>
        <td><%= link_to 'Show', mt %></td>
        <td><%= link_to 'Edit', edit_mt_path(mt) %></td>
        <td><%= link_to 'Destroy', mt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mt', new_mt_path %>
