
<%= form_for(@maquina) do |f| %>
<h1> Ingrese 2 numeros</h1>
  <%= f.label :número%>
  <%= f.number_field :valor, class: 'form-control' %>
  <%= f.label :número%>
  <%= f.number_field :valor1, class: 'form-control' %>

<%= f.submit "Ingresar", class: "btn btn-primary" %>
<% end %>
