



<div class="btn btn-primary"><%= link_to 'New Maquina', new_maquina_path,:class=>"btn"%></div>

<table>
  <thead>
    <tr>
      <th>Hola!</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maquinas.each do |maquina| %>
      <tr>
        <td><%= maquina.valor %></td>
        <td><%= link_to 'Show', maquina, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_maquina_path(maquina) %></td>
        <td><%= link_to 'Destroy', maquina, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


